body {
  font-family: "iransans" !important;
  background-color: #191a1f !important;
  color: white;
  max-width: 500px;
  margin: 0 auto;
}

button,
h1,
h2,
h3,
h4,
h5,
a,
.food-cart,
.food-card {
  font-family: "iransans" !important;
}

a {
  color: white;
}

.ant-skeleton {
  background-color: #252525;
  border-radius: 15px;
  padding: 10px;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* Restaurant Page */

.branch-list .branch-link {
  display: flex;
  align-items: center;
  background: #193445;
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
}

.branch-list .branch-image {
  max-height: 50px;
  margin-left: 10px;
}

/* Category Page */

.header-icon {
  font-size: 20px;
  border: 1px #36373c solid;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  color: white;
}

.circle-image {
  border-radius: 50%;
  max-width: 60px;
}

.title-icons {
  text-align: left;
}

.search-field {
  margin: 20px 15px;
  width: calc(100% - 50px);
  padding: 20px;
  background-color: #1f222b;
  border-color: transparent;
  border-radius: 20px;
  color: #737373;
}

.search-field input {
  background-color: #1f222b;
  color: #737373;
}

.search-field input::placeholder {
  color: #737373;
}

.subtitle-text {
  margin: 0 20px;
}

.category-list {
  text-align: center;
  margin-bottom: 20px;
}

.food-card {
  background-color: #1f222b;
  border-color: transparent;
  border-radius: 25px !important;
}

.food-card .ant-card-cover {
  padding: 15px;
}

.food-card-pic {
  border-radius: 25px !important;
}

.food-card-title {
  margin: 0;
  text-align: right;
  color: white;
}

.food-card-price {
  color: #1bad4b;
  font-size: 16px;
  float: left;
  font-weight: bold;
}

.food-card-like-count {
  font-size: 16px;
  float: right;
  color: white;
}

.food-card-like-count svg {
  color: red;
}

/* Product Detail Page */

.product-detail-header {
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
  max-width: 480px;
}

.back-icon {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  color: white;
}

.product-detail-list {
  color: white !important;
  padding: 0 20px;
}

.product-detail-list .ant-list-item {
  color: white;
}

.product-detail-add-basket-button {
  background-color: #1bad4b;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: calc(100% - 20px);
  position: fixed;
  bottom: 20px;
  max-width: 480px;
}

.product-detail-add-basket-button:hover {
  background-color: #1bad4b;
  color: white !important;
  box-shadow: 0 2px 4px 0 #1bad4b;
}

/* Cart Page */

.food-cart {
  background-color: #1f222b;
  border-color: transparent;
  border-radius: 20px !important;
  width: 100%;
}

.ant-list-item:has(> .food-cart) {
  padding: 5px 24px;
}

.food-cart .ant-card-body {
  padding: 20px;
}

.food-cart .ant-card-meta-avatar {
  width: 146px;
  height: 130px;
}

.food-cart-pic {
  width: 100%;
  height: 100%;
  background-color: #eeeff3;
  border-radius: 15px !important;
}

.food-cart-title {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: right;
  color: white;
}

.food-cart .ant-card-meta-description {
  line-height: 2.3rem;
}

.food-cart-price {
  color: #1bad4b;
  font-size: 16px;
  font-weight: bold;
}

.food-cart-count {
  font-size: 13px;
  color: white;
}

.food-cart-change-count {
  float: left;
}
