.mainHeader {
    position: relative;
    margin-bottom: 16px;
    .cartIcon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

.logo {
    width: 60px !important;
    height: 60px !important;
    border-radius: 10px;
    border: 1px solid #eee;
}

.logoSkeleton {
    span {
        width: 60px !important;
        height: 60px !important;
    }
}
